body {
    font-size:0.8em;
    font-family: Arial, sans-serif;
    vertical-align:top;
    padding:1em;
    max-width:80%;
    margin:auto;
    text-align: center;
    background: #eeeeee;
}
h1 {
    font-size: 3.0em;
    margin: auto;
    color: mediumslateblue;
}
.startseiteInhalt {
    margin: auto;
    text-align: center;
    margin-top: 30%;
}

.anleitung{

}

button {
    color: #eeeeee;
    background: mediumslateblue;
    font-size: 1.5em;
    width: 7em;
    height: 50px;
}

.buttonContainer {
    margin-bottom: 2em;
}

.cursor{
    margin: 2em;
    animation-name: img-click;
    animation-duration: 800ms;
    animation-iteration-count: 2;

}
@keyframes img-click {
    0% {width: 100px; height: 100px;}
    50% {width: 90px; height: 90px;}
    100% {width: 100px; height: 100px;}
}

spielfeld{

}

img.backgroundImage {
    border-radius: 20px;
    /* border: 3px; */
    /* border-style: solid; */
    box-shadow: 12px 15px 20px 0px #0000005c;
    margin: 5px;
}

.info {
    display: inline-block;
    font-size: 1em;
    margin: 13px;
}

.row {
    text-align: center;
}
.row div {
    display: inline-block; /*Kaestchen in selber Hoehe*/
    vertical-align: middle;
}

.joker-button
{
    float: right;
    margin-top: 10%;
}


/*Iphone 4*/

@media only screen and (max-width: 320px)
{
    .startseiteInhalt

    {
        margin: auto;
        text-align:center;
        margin-top: 27%;
    }
}

@media only screen and (max-width: 320px)
{
    .anleitung

    {
        margin: auto;
        text-align:center;
        margin-top: 27%;
    }
}

@media only screen and (max-width: 320px)
{
    img.backgroundImage {
        border-radius: 20px;
        /* border: 3px; */
        /* border-style: solid; */
        box-shadow: 12px 15px 20px 0px #0000005c;
        margin: 1px;

    }
}
@media only screen and (max-width: 320px)
{
    .joker-button

    {
        margin-top: -506px;
    }
}

/*Note 3*/

@media only screen and (max-width: 360px)
{
    .startseiteInhalt

    {
        margin: auto;
        text-align:center;
        margin-top: 45%;
    }
}

@media only screen and (max-width: 360px)
{
    .joker-button

    {
        margin-top: -59px;
        margin-right: 19px;
    }
}

/*Iphone 6/7/8*/

@media only screen and (max-width: 375px)
{
    .joker-button

    {
        margin-top: -61px;
        margin-right: 24px;
    }
}

@media only screen and (max-width: 375px)
{
    .button

    {
        margin-top: 21px;
    }
}