body {
    font-size:0.8em;
    font-family: Arial, sans-serif;
    vertical-align:top;
    padding:1em;
    max-width:80%;
    margin:auto;
    text-align: center;
    background: #eeeeee;
}
h1 {
    font-size: 3.0em;
    margin: auto;
    color: mediumslateblue;
}
.startseiteInhalt {
    margin: auto;
    text-align: center;
    margin-top: 30%;
}

.anleitung{

}

.buttonContainer button {
    color: #eeeeee;
    background: mediumslateblue;
    font-size: 1.5em;
    width: 7em;
    height: 50px;
}

.buttonContainer {
    margin-bottom: 2em;
}


#returnButton {
     color: #eeeeee;
     background: mediumslateblue;
     font-size: 1.5em;
     width: 7em;
     height: 50px;
     margin-top: 1vh;
     margin-left: 3vh;
 }

#nextButton {
    color: #eeeeee;
    background: mediumslateblue;
    font-size: 1.5em;
    width: 7em;
    height: 50px;
}

.buttonAnleitung{
    color: #eeeeee;
    background: mediumslateblue;
    font-size: 1.5em;
    width: 7em;
    height: 50px;
}

.cursor{
    margin: 2em;
    animation-name: img-click;
    animation-duration: 800ms;
    animation-iteration-count: 2;

}
@keyframes img-click {
    0% {width: 100px; height: 100px;}
    50% {width: 90px; height: 90px;}
    100% {width: 100px; height: 100px;}
}

spielfeld{

}

img.backgroundImage {
    border-radius: 20px;
    /* border: 3px; */
    /* border-style: solid; */
    box-shadow: 12px 15px 20px 0px #0000005c;
    margin: 5px;
}

.info {
    display: inline-block;
    font-size: 1em;
    margin: 13px;
}

.row {
    text-align: center;
}
.row div {
    display: inline-block; /*Kaestchen in selber Hoehe*/
    vertical-align: middle;
}

.joker-button
{
    position: relative;
    margin-top: 1vh;
    margin-left: 23vh;

}


